* {
    padding: 0;
    margin: 0;
    width: 350px;
    background-color: hsl(182, 48%, 20%);
  
}

.box {
    width: 265px;
    height: 880px;
    background-color: hsl(182, 48%, 27%);
    text-align: center;
    position: fixed;
    list-style: none;
}

.NOM {
    font-size: 20px;
    position: absolute;
    top: 190px;
    left:-3px;
    cursor: pointer;
    background-color: hsl(182, 48%, 27%);
    width: 250px;;

}

img {
    width: 130px;
    height: 150px;
    position: relative;
    top: 220px;
    background-color: hsl(182, 48%, 27%);

}

p {
    position: relative;
    
}

.dar {
    position: relative;
    top: 250px;
    left: -6px;
    cursor: pointer;
    background-color: hsl(182, 48%, 27%);
    width: 250px;
    z-index: 1;
}

.darwin{
    position: relative;
    top: 280px;
    left: -6px;
    cursor: pointer;
    width: 250px;
    height: 8px;
    background-color: hsl(182, 48%, 27%);
}

i {
    color: #000;
    font-size: 40px;
    margin: 10px;
    position: relative;
    top: 500px;
    bottom: 300px;
    left: 500px;
    cursor: pointer;
}

.main-box {
    position: relative;
    bottom: 400px;
    display: flex;
}

.infor {
    position: relative;
    left: 270px;
    top: 700px;
}

h1 {
    font-family: 'Monomaniac One', sans-serif;
}

p {
    font-family: 'Monomaniac One', sans-serif;
}

.NUM {
    text-align: center;
    position: relative;
    bottom: 870px;
    left: 540px;
    top: 100px;
}

.profesion {
    font-size: 60px;
    float: right;
    position: relative;
    bottom: 400px;
    left: 690px;
    top: 80px;
}

.perfil {
    font-size: 60px;
    float: right;
    position: relative;
    top: 50px;
    left: 280px;
    cursor: pointer;
    z-index: 1;
}

.perfil1 {
    position: relative;
    bottom: -120px;
    left: 280px;
    cursor: pointer;
    height: auto;
    
}
.work{
    position: absolute;
    right: 400px;
    left: 266px;
    bottom: -997px;
   
}
a{
    margin: 14px;
    width: 10px;
    height: 5px;
    border-radius: 5%;
    text-decoration: none;
    width: 20px;
    height: 10px;
    border-radius: 5% solid 2px color brown;
}
a:hover{
    background-color: brown;
    opacity: 0.2px;
}
.DARWIN{
    position: relative;
    top: 270px;
    left: -6px;
    cursor: pointer;
    background-color: hsl(182, 48%, 27%);
    width: 250px;
    z-index: 1;
    bottom: 230px;
}
.darwin1{
    position: relative;
    left: -6px;
    cursor: pointer;
    width: 250px;
    height: 8px;
    background-color: hsl(182, 48%, 27%);
    bottom: -250px;
    z-index: 2;
}